body{
  background-color: black;
  color: white;
}

.questions{
  background-color: white;
  height: 200px;
  margin-top: 50px;
}

.answers{
  background-color: rgb(224, 224, 224);
  height: 200px;
  margin-top: 0px;
}